@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
font-family: "Inter", system-ui;
color: #243e63;
}

body{
max-width: 100vw;
overflow-x:hidden ;
}

.row{
     width: 100%;
     max-width: 1200px;
     margin: 0 auto;
      display: flex;
}

.container{
    padding: 80px 0;
}

.purple{
    color: #6415FF;
}

section{
    padding: 0 32px;
}

.section__tag{
    color:#6415ff;
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 1.6px;
   text-transform: uppercase;
}

.section__title{
    font-size: 48px;
    font-weight: bolder;
margin: 16px 0;
letter-spacing: 0.025em;
    color: rgb(36, 62, 99);
}

.section__para{ 
width: 100%;
    max-width: 576px ;
    margin: 0 auto;
    height:100%;
    padding: 0px;
    padding-top: 16px ;
    color: #7c8ba1;
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 38px;
    line-height: 1.25;
}



h2{
   
    padding-top: 24px;
    margin: 48px 0px 0px ;
    display: flex;

}

img{
 max-width: 1024px;
}

p{
    line-height: 1.5;
}

button{
    cursor: pointer;
}

.btn{
    background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms;
}


main{
    margin-bottom: 96px;
}

#landing{
   padding-left: 32px;
   padding-right: 32px;
}


/*
    NAV BAR
*/

nav{
  padding-top: 32px ;
  display: flex;

}

.nav__row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
   
}


.nav__logo{
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}


.nav__logo--img{
   display: flex;
   justify-content: flex-start;
   width: 40px;
   
}
   

.nav__logo--title{
   font-size: 24px;
    font-weight: 900;
    margin-left: 12px;
    letter-spacing: 0.6px;
    padding-bottom: 2px;
}

.btn__menu{
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}

.btn__menu--svg:hover{
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261edg) brightness(94%) contrast(115%);
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235) ;
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.modal__links{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}
.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}




.menu--open .modal{
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}


.nav__container{
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
ul{
    display: flex;

}
li{
    list-style-type: none;
     font-size: 18px;
    font-weight: 500;
    margin: 0 24px;


}


.nav__links{
    display: flex;
    align-items: center;
    padding-bottom: 2px;
    
}

.nav__link{
margin-left: 16px;   
 text-decoration: none;
}

.nav__link:hover{
    color: #6415FF;
    text-decoration: underline;
    transition: all 300ms;
}
.nav__link--primary{
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    border-color: none;
    background-color: #6415FF;
    color: #fff;
    font-size: 16px;
    width: auto;
    line-height: 1.5;
}

.nav__link--primary:hover{
    background-color:rgba(80, 17, 204);
    color: rgba(154, 102, 255);
    text-decoration: none;

}
.nav__header{
    padding-right: 100px ;  
}

.nav__btn{
      color: white;
    background-color: #6415FF;
    padding: 12px 24px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5%;
    border: none;
}

/*
HEADER
*/

header{
    position: relative;
    
}


header .row{
    display: flex;
    align-items: flex-end;
}

.header__customers--title{
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6px;
    
}


.header__customers--img{
width: 512px;
   margin-top: 16px;
   opacity: 0.5;
   padding-bottom: 32px;
  
}


.header__description{
 width: 41.6667%;
}

.header__description--para{
    margin: 20px 0 auto;
    font-size: 16px;
    padding-bottom: 24px;
   
}

.header__email{
    background-color: #fff;
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.header__email--input{
 width: 100%;
 border: 2px solid rgb(229, 231, 235);
 border-radius: 500px;
 padding: 20px 12px 20px 32px;
 font-size: 16px;
 font-weight: 500;
 z-index: 1;
 transition: border 300ms;
}

.header__email--btn{
    z-index: 2;
    margin: 8px;
    height: calc(100%-16px);
    border-radius: 500px;
    width: 160px;
     position: absolute;
 right: 0;
 top:0;
 bottom: 0;
    border: none;
    color:#fff;
    background-color: #6415FF;
    font-weight: bolder;
    transition: all 300ms;
    
}

.header__email--btn:hover{
      background-color:rgba(80, 17, 204);
    color: rgba(154, 102, 255);
    
}

.header__img{
   width: 100%;
  padding-left: 96px;
  padding-top: 36px;}

  

.header__img--wrapper{
    width: calc(100%-41.6667%);
    display: flex;
    justify-content: flex-end;
}

/*
FEATURES
*/

#features{
    text-align: center;
    position: relative;
}

#features .section__title{
    text-align: center;
}


.row__narrow{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.features{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.feature{
    display: flex;
    width: calc(100% / 3);
}

.feature__row{
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;

}
.feature__title{
color: #1a202c;
font-size: 24px;
}

.feature__img{
    width: 24px;
    height: 24px;
}

.feature__img--wrapper{
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}

.feature__text{
    margin-top: 8px;
    margin-left: 16px;
}

.feature__para{
    margin-top: 16px;
    font-size: 16px;
    max-width: calc(634px/3);
    color: rgb(124, 139, 161);
    line-height: 2;
    font-weight: 500;
}




/*
QUALITY
*/

#quality{
    padding: 0 32px;

}

#quality .section__title{
    line-height: 1.25;
   display: flex;
   flex-direction: column;
  
}

.quality__description{
    width: 50%;
display: flex;
flex-direction: column;
    margin-right: 64px;

}

.quality__img--wrapper{
    border: 1px solid rgb(229, 231, 235);
    position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex;
    width: 50%;
}

.quality__img{
    z-index: 1;
    width: 100%;
}

#quality .btn{
   margin-top: 24px;
    width: 50%;
}



/*
STEPS
*/



.step{
    display: flex;
    flex-direction: row;
    margin-top: 32px;
}
.steps__list{
 display: flex;
 flex-direction: column;
 
}

.step__number{
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;

}

.step__description{
    display: flex;
    flex-direction: column;
    margin: 24px;
    width: 50%;
}

.step__title{
    font-size: 20px;
    font-weight: 600;
    color: #243e63;
    line-height: 1;
}

.step__para{
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
   
}

.steps__img{
    width: 75%;
}



/*
VALUES
*/

#values .section__title{
    margin-top: 16px;
    margin-bottom: 32px;
    line-height: 1.25;
}

.values__description{
    padding: 32px 64px 32px 0;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.values__list{
    display: flex;
}

.value{
    margin-top: 32px;
    margin-right: 32px;
}

.value__title{
    display: flex;
    align-items: center;
}

.value__img--wrapper{
    width: 50%;
    background-color: #9ae6b4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.value__name{
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
}

.value__para{
    margin-top: 16px;
    line-height: 1.625;
    color: #718096;
}



.value__img{
    width: 50%;
}

/*
PRICING PLANS
*/

#pricing .row{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pricing .section__title{
    text-align: center;
}

.plans{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    z-index: 100;
}


.plan{
    width: 100%;
    max-width: 384px;
    margin: 64px 32px 0 0;
    padding-top: 8px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow:rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; ;
position: relative;
z-index: 100;
background: #fff;

}

.plan :nth-child(2){
    background: (135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);

}

.plan :nth-child(3){
        background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__stripe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__top{
    padding: 32px;
    text-align: center;
}

.plan__name{
    color: #1a202c;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.625;
    text-transform: uppercase ;
}

.plan__price{
    font-weight: bold;
    line-height: 1.625;
    font-size: 48px;
    margin: 4px 0;
}

.plan__duration{
    font-size: 16px;
    letter-spacing: 0.1em;
    font-weight: bold;
    line-height: 1.625;
}


.plan__middle{
    border-top:2px solid rgb(229, 231, 235);
    border-bottom: 2px solid rgb(229, 231, 235);
    padding: 32px;
    text-align: center;
}

.plan__target{
    color: #1a202c;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
}

.plan__feature{
    margin-top: 20px;
    font-weight: 500;
    color: #718096;
    font-size: 16px;
    line-height: 1.5;
}

.plan__bottom{
    padding: 32px 64px;
    z-index: 10;
    position: relative;
}

.plan__button{
    text-transform: uppercase;
    text-align: center;
    padding: 16px 32px;
    border-radius: 500px;
    border: none;
    font-size: 14px;
    width: 100%;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1.5;
    transition: all 300ms;
    max-width: none;
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}


/*
TESTEMONIALS
*/

#testemonials .row{
    display: flex;
}

#testemonials .section__title{
    margin-bottom: 24px;
    line-height: 1.25;
    
}

.testemonials__img{
    width: 41.6667%;
}

.testemonials__description{
    display: flex;
    flex-direction: column;
    padding-left: 64px;
    width: 50%;
}


.testemonial{
    margin-top: 40px;
}

.testemonial__rating i{
    padding-top: 20px;
    color:rgba(246, 173, 85) ;
    margin-top: 2px;
    margin-right: 4px;
}

.fas{
    font-family:font awesome 5 Pro ;
    font-weight: 900;

}

.testemonial__title{
    font-weight: 700;
    color: #243e63;
    font-size: 20px;
    line-height: 1.5;
    margin-top: 16px;
}

.testemonial__para{
    margin: 16px 0px 40px 0;
    color:#4a5568 ;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
}

.testemonial__bottom{
    display: flex;
    justify-content: space-between;
}

.testemonial__profile{
    display: flex;
    align-items: center;
}

.testemonial__img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.testemonial__details{
    margin-left: 24px;
   
}

.testemonial__name{
       font-weight: 700;
    color: #243e63;
    font-size: 20px;
    line-height: 1.5;
}

.testemonial__buttons{
    display: flex;
    align-items: center;
}

.testemonial__button{
    display: flex;
    justify-content: center;
    padding: 16px;
    background: #edf2f7;
    border-radius: 50%;
    margin: 0 12px;
    transition: all 300ms;
}

.divider{
    width: 1px;
    height: 24px;
    background: rgb(229, 231, 235);
}


/*
START
*/

#start .row{
    position: relative;
    overflow: hidden;
}

.start__container{
    padding: 96px;
    width: 100%;
    background-color: rgb(100, 21, 255);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start__row{
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start__title{
    width: 50%;
    color: #f7fafc;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    z-index: 2;
}

.start__buttons{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.start__button--btn{
    background-color:#f56565 ;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
 margin-right: 32px;
 transition: all 300ms;
}

.start__button--btn :nth-child(2){
    background-color: #6415FF;
    border-color: #edf2f7;
}


/*
FOOTER
*/

footer{
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}

.footer__columns{
    margin-top:  -48px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.footer__column{
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    width:calc(100%/5) ;
}

.footer__column--title{
    font-weight: 700;
    color: #f7fafc;
    line-height: 1.5;
    text-transform: uppercase;
}


.footer__column--link{
    margin-top: 24px;
    width: calc(100%/5);
    color: #f7fafc;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}


.footer__divider{
    width: 100%;
    height: 2px;
    margin: 64px 0;
    background: rgb(100, 21, 255);
}

.footer__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo{
    display: flex;
    align-items: center;
}

.footer__logo--img{
    height: 32px;
    width: 32px;
}

.footer__logo--text{
font-size: 20px;
color: #f7fafc;
font-weight: 900;
margin-left: 8px;
letter-spacing: 0.05em;
}

.footer__copyright{
    color: #cbd5e0;
    font-weight: 500;
}



.footer__socials{
    display: flex;
    justify-content: space-between;
    margin-left: -16px;
}


.footer__social--link{
    margin-left: 16px;
    padding: 8px;
    background: #f7fafc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
    transition: all 300ms;
}





/*
  width: 100%;
    max-width: 720px ;
    margin: 0 auto;
    height:100%;
    display: flex;
    flex-direction: column;

