@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
font-family: "Inter", system-ui;
color: #243e63;
}

body{
max-width: 100vw;
overflow-x:hidden ;
}
.row{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.row__narrow{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}



.purple{
    color: #6415FF;
}

section{
    padding: 0 32px;
}

h1{
    max-width: 1024px;
    font-size: 30px;
}

#features{
    text-align: center;
}

#landing{
   padding-left: 32px;
   padding-right: 32px;
}
    

h2{
    font-size: 12px;
    font-weight: 700;
    color: rgb(160, 174, 192);
    padding-top: 24px;
    margin: 48px 0px 0px ;
    display: flex;
    justify-content: center;

}

img{
 max-width: 1024px;
}

p{
    line-height: 1.5;
}


main{
    margin-bottom: 96px;
}

/*
    NAV BAR
*/

nav{
    padding-top: 32px;
    height: 100px;
    width: 100%;
    max-width: 1200px;
 display: flex;
 justify-content: space-between;
 justify-content: flex-end;
 align-items: center;

}

.nav__row{
    display: flex;
    justify-content: flex-end;
   
}

/*

.nav__logo{
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--img{
    width: 40px;
    height: 40px;

}
    */



.nav__logo{
   margin-right: 40px;
    margin: 8px 0;
    padding-bottom: 4px;
    width: 40px;
}


.nav__logo--img{
   display: flex;
   justify-content: flex-start;
   padding-right: 400px;
}
   

.nav__logo--title{
   font-size: 24px;
    font-weight: 900;
    margin-left: 12px;
    letter-spacing: 0.6px;
    padding-bottom: 2px;
}

.btn__menu{
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}

.btn__menu--svg:hover{
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261edg) brightness(94%) contrast(115%);
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235) ;
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.modal__links{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}
.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}




.menu--open .modal{
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}
.btn__menu--close{
   
}

.nav__container{
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
ul{
    display: flex;
}
li{
    list-style-type: none;
}


.nav__links{
      color:#243e63 ;
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
    
}

.nav__link{
margin-left: 16px;   
 text-decoration: none;
}
.nav__link--primary{
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    border-color: none;
    background-color: #6415FF;
    color: #fff;
    font-size: 16px;
    width: auto;
    line-height: 1.5;

}

.nav__link--primary:hover{
    background-color:rgba(80, 17, 204);
    color: rgba(154, 102, 255)
}
.nav__header{
    padding-right: 100px ;  
}

.nav__btn{
      color: white;
    background-color: #6415FF;
    padding: 12px 24px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5%;
    border: none;
}

/*
HEADER
*/


.header__container{
    width: 100%;
    max-width: 720px ;
    margin: 0 auto;
    height:100%;
    padding:96px;
    display: flex;
    flex-direction: column;
}

.header__customers{
width: 512px;
   margin-top: 16px;
   opacity: 0.5;
}

.header__img{
    width: 512px;
  padding-left: 96px;
}


.header__description{

}

.header__description--para{
    margin: 20px 0 auto;
    font-size: 16px;
    padding-bottom: 24px;
   
}

.header__email{
    background-color: #fff;
}


.header__email--input{
 width: 100%;
 border-radius: 500px;
 padding: 20px 12px 20px 32px;
 color:rgb(36, 62, 99);
 font-size: 16px;
 font-weight: 500;
 top:0;
 bottom: 0;
 z-index: 1;
 transition: border 300ms;
}

.header__email--btn{
    z-index: 2;
    margin: 8px;
    height: calc(100%-16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    color:#fff;
    background-color: #6415FF;
    font-weight: bolder;
    transition: all 300ms;
    
}

/*
FEATURES
*/

.section__tag--features{
    color:#6415ff;
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 1.6px;
   

}

.section__title--features{
    font-size: 48px;
    font-weight: bolder;
    padding-top: 12px;
    padding-bottom: 12px;
}

.section__para{ 
width: 100%;
    max-width: 576px ;
    margin: 0 auto;
    height:100%;
    padding: 0px;
    padding-top: 16px ;
    color: #7c8ba1;
    display: flex;
    flex-direction: column;
}



